*
{
    padding: 0px;
    margin: 0 auto;
    box-sizing: border-box;
}
@media screen and (max-width: 35em)
{
    html
{
    font-family: 'Noto Sans', sans-serif;
    background-color: #FFBD61;
}
    .masthead
    {
        text-align: center;
        color: #FF9E14;
        text-shadow: 0px 3px 0px #7F4F0A;
        width: 100%;
        font-size: 1.2rem;
        padding: 50px 10px 50px 10px;
        
        background-image:url("http://lorempixel.com/600/400/cats/");
        background-size:100%;
        background-position: center;
        border-radius: 10px;
    }
    .mainnav a
    {
        text-decoration: none;
        display: block;
        height: 40px;
        width: 100%;
        background: #FF9E14;
        border: 4px solid #7F4F0A;

        text-align: center;
        font-style: bold 5em;
        color: #6B4209;

        border-radius: 10px;
        box-shadow: 0 8px 0 #6B4209;
        background-image: -webkit-linear-gradient(top, #FF9E14, #B8710F);

        padding: 20px 10px 35px 10px;
    }
    .mainnav a:hover
    {
        background-image: -webkit-linear-gradient(top, #B8710F, #FF9E14);
    }
    .mainnav li
    {
        list-style: none;
        padding: 10px 0px 10px 0px;
    }
    .mainnav ul
    {
        display: table;
        table-layout:fixed;
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
    .primary 
    {
        width: 100%;
        text-align: justify;
        font-size: 0.8rem;
        padding: 10px 10px 0px 10px;
        line-height: 1.1rem;
        color: #633D08;
    }
    .side
    {
        width: 100%;
        text-align: justify;
        font-size: 0.8rem;
        padding: 10px 10px 0px 10px;
        line-height: 1.1rem;
        color: #633D08;
    }
     h2,h3
    {
        color: #633D08;
        padding: 10px 0px 10px 0px;
        font-size:1.5rem;
    }
    .footer
    {
        font-size: 0.6rem;
        padding: 10px 10px 10px 10px;
        color: #A8680E;
    }
    img
    {
        max-width:100%;
        border-radius: 10px;
        border: 3px solid #6B4209;
    }
}
@media screen and (min-width: 35em) and (max-width: 60em)
{
    html
{
    font-family: 'Noto Sans', sans-serif;
    background-color: #FFBD61;
}
    .masthead
    {
        text-align: center;
        color: #FF9E14;
        text-shadow: 0px 2px 0px #7F4F0A;
        width: 100%;
        font-size: 1.4rem;
        padding: 50px 10px 50px 10px;
        
        background-image:url("http://lorempixel.com/600/400/cats/");
        background-size:100%;
        background-position: center;
        border-radius: 10px;
        
    }
    .mainnav a
    {
        text-decoration: none;
        display: block;
        height: 40px;
        
        background: #FF9E14;
        border: 2px solid #7F4F0A;

        text-align: center;
        font-style: bold 5em;
        color: #6B4209;
        
        border-radius: 10px;
        box-shadow: 0 8px 0 #6B4209;
        background-image: -webkit-linear-gradient(top, #FF9E14, #B8710F);

        padding: 20px 10px 35px 10px;
    }
    .mainnav a:hover
    {
        background-image: -webkit-linear-gradient(top, #B8710F, #FF9E14);
    }
    .mainnav li
    {
        list-style: none;
        padding: 10px 5px 10px 5px;
        float: left;
        width: 25%;
    }
    .mainnav ul
    {
        display: table;
        table-layout:fixed;
        width: 100%;
        padding: 0px 10px 0px 10px;
    }
    .primary 
    {
        width: 63%;
        text-align: justify;
        font-size: 1rem;
        padding: 0px 10px 0px 10px;
        float: left;
        line-height: 1.5rem;
        color: #633D08;
    }
    .side
    {
        width: 37%;
        text-align: justify;
        font-size: 1rem;
        padding: 10px 10px 0px 10px;
        float: left;
        line-height: 1.5rem;
        color: #633D08;
    }
     h2,h3
    {
        color: #633D08;
        padding: 10px 0px 10px 0px;
    }
    .footer
    {
        font-size: 0.8rem;
        padding: 10px 10px 10px 10px;
        clear: both;
        color: #6B4209;
    }
    img
    {
        max-width:100%;
        border-radius: 10px;
        border: 5px solid #6B4209;
    }
}
@media screen and (min-width: 60em)
{
    html
{
    font-family: 'Noto Sans', sans-serif;
    background-color: #FFBD61;
}
    .masthead
    {
        font-size: 2rem;
        text-align: center;
        color: #FF9E14;
        text-shadow: 0px 5px 0px #7F4F0A;
        with: 100%;
        padding: 50px 10px 50px 10px;
        
        background-image:url("http://lorempixel.com/600/400/cats/") ;
        background-size:100%;
        background-position: center;
        border-radius: 10px;
        
        margin-bottom: 20px;
    }
    .mainnav a
    {
        text-decoration: none;
        display: block;
        height: 40px;
        
        background: #FF9E14;
        border: 2px solid #7F4F0A;

        text-align: center;
        font-style: bold 5em;
        color: #6B4209;

        border-radius: 10px;
        box-shadow: 0 8px 0 #6B4209;
        background-image: -webkit-linear-gradient(top, #FF9E14, #B8710F);
        

        padding: 20px 10px 35px 10px; 
        
    }
    .mainnav a:hover
    {
        background-image: -webkit-linear-gradient(top, #B8710F, #FF9E14);
    }
    .mainnav li
    {
        padding: 0px 0px 20px 0px;
    }
    .mainnav ul
    {
        clear: both;
        float:left;
        width: 25%;
        padding: 0px 10px 0px 10px;
    }
    .content 
    {
        float: left;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        width: 50%;
        padding: 0px 10px 0px 10px;
        
    }
    .content p
    {
        padding: 0px 0px 10px 0px;
        line-height: 2rem;
        text-align: justify;
        font-size: 1.2rem;
        color: #633D08;
    }
    .side p
    {
        float: left;
        width: 25%;
        text-align: justify;
        font-size: 1.2rem;
        padding: 10px 10px 10px 10px;
        line-height: 2rem;
        color: #633D08;
    }
    h2,h3
    {
        color: #633D08;
        font-size: 2rem;
        padding: 0px 0px 10px 0px;
    }
    .footer
    {
        background-color: #FF9E14;
        font-size: 1rem;
        clear:both;
        max-width: 100%;
        padding: 10px 10px 10px 10px;
        color: #6B4209;
        text-align:center;
        padding: 5px;
    }
    img
    {
        max-width:100%;
        border-radius: 10px;
        border: 6px solid #6B4209;
    }
}
